<form class="col-lg-12">
<h1>Add new Shoe</h1>
<%= form_for (@shoe) do |f| %>



  <%= f.label :name %>
  <%= f.text_field :name %>


  <%= f.label :brand %>
  <%= f.text_field :brand %>

  <%= f.label :color %>
  <%= f.text_field :color %>


  <%= f.label :style %>
  <%= f.text_field :style %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :designer %>
  <%= f.text_field :designer %>

  <br><br>



  <br><br>


  <%= f.submit%>

<% end %>
</form>
