<%= form_for(@shoe) do |f| %>



  <%= f.label :name %>
  <%= f.text_field :name %>


  <%= f.label :brand %>
  <%= f.text_field :brand %>

  <%= f.label :color %>
  <%= f.text_field :color %>


  <%= f.label :style %>
  <%= f.text_field :style %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <br><br>

  <%= f.label :designer_id, "Select a Designer" %>
  <%= f.select(:designer_id, [ :name]) %>
  <br><br>

  <% if !params[:designer_id] %>
    <h4>Or add a new designer:</h4>

    <%= f.fields_for :designer do |v|%>
        <%= v.label :name %>
        <%= v.text_field :name %>
    <% end %>
  <% end %>

  <br><br>
  <%= f.submit %>

<% end %>
