

<h1>All the Shoes</h1>



<%= link_to "New Shoe Entry", 'shoes/new' %><br>


<% @shoes.each do |shoe| %>


  <%= link_to "Create New Shoe", new_shoe_path(shoe.id)%>

  <%= link_to "Your Shoe Entries", shoes_path %>
         <%= link_to "Your Handbag Entries", handbags_path %>
  <div>
    <p><%= shoe.style%></p>
  </div>
<% end %>
