
Here I want to show all of the users shoes

<h1>All the Shoes!</h1>

<%= form_tag("/shoes", method: "get") do %>
  <%= label_tag(:brand, "Enter the brand you want to see") %>
  <%= text_field_tag(:brand) %>
  <%= submit_tag("Search") %>
<% end %>


<%= link_to "New Handbag Entry", 'handbags/new' %><br>


<%= link_to "New Shoe Entry", 'shoes/new' %><br>




<h3>Shoes:</h3>
