
Here I want to show all of the users shoes

<h1>All the Shoes!</h1>


<ul>
<% @shoes.each do |shoe| %>
<li>
  <strong><%= shoe.name %></strong> -
  <%=shoe.brand %> miles  -
  <%=shoe.designer %> - added by: <%= shoe.user.username %> |
  <%= link_to "Your Shoe Entries", shoes_path(shoe) %> |
  <%= link_to "Your Handbag Entries", handbags_path(handbag) %>|



</li>

<% end %>
</ul>
